<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head', { pageInfo }) %>
  </head>
  <body>
    <%- include('./partials/header', { pageInfo }) %>
    <div class="container my-5">
      <h1>Create New Listing</h1>
      <form action="/listing/add-listing" method="post">
        <div class="mb-3 form-group required">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="John Doe"
            required
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            class="form-control"
            id="description"
            name="description"
            rows="3"
            placeholder="Description"
            required
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="neighborhood_overview" class="form-label"
            >Neighborhood Overview</label
          >
          <textarea
            class="form-control"
            id="neighborhood_overview"
            name="neighborhood_overview"
            rows="3"
            placeholder="Neighborhood overview"
            required
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="amenities" class="form-label">Amenities</label>
          <textarea
            class="form-control"
            id="amenities"
            name="amenities"
            rows="3"
            placeholder="Fridge, AC, TV, ..."
            required
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="accommodates" class="form-label">Accommodates</label>
          <input
            type="number"
            class="form-control"
            id="accommodates"
            name="accommodates"
            placeholder="00"
            required
          />
        </div>
        <div class="mb-3">
          <label for="bedrooms" class="form-label">Bedrooms</label>
          <input
            type="text"
            class="form-control"
            id="bedrooms"
            name="bedrooms"
            placeholder="00"
            required
          />
        </div>
        <div class="mb-3">
          <label for="beds" class="form-label">Beds</label>
          <input
            type="text"
            class="form-control"
            id="beds"
            name="beds"
            placeholder="00"
            required
          />
        </div>
        <div class="mb-3">
          <label for="latitude" class="form-label">Latitude</label>
          <input
            type="text"
            class="form-control"
            id="latitude"
            name="latitude"
            placeholder="51.509865"
            required
          />
        </div>
        <div class="mb-3">
          <label for="longitude" class="form-label">Longitude</label>
          <input
            type="text"
            class="form-control"
            id="longitude"
            name="longitude"
            placeholder="-0.118092"
            required
          />
        </div>
        <div class="mb-3">
          <label for="bathrooms" class="form-label">Bathrooms</label>
          <input
            type="text"
            class="form-control"
            id="bathrooms"
            name="bathrooms"
            placeholder="2 baths"
            required
          />
        </div>
        <div class="mb-3 form-group required">
          <label for="room_type" class="form-label">Room Type</label>
          <input
            type="text"
            class="form-control"
            id="room_type"
            name="room_type"
            placeholder="Type to Search Room Type or Create New Property Type"
            list="room_types"
            required
          />
          <datalist id="room_types">
            <% for (let room_type of room_types) { %>
            <option value="<%= room_type.room_type_id %>">
              <%= room_type.room_type %> (Room type ID: <%=
              room_type.room_type_id %>)
            </option>
            <% } %>
          </datalist>
        </div>
        <div class="mb-3 form-group required">
          <label for="property_type" class="form-label">Property Type</label>
          <input
            type="text"
            class="form-control"
            id="property_type"
            name="property_type"
            placeholder="Type to Search Property Type or Create New Property Type"
            list="property_types"
            required
          />
          <datalist id="property_types">
            <% for (let property_type of property_types) { %>
            <option value="<%= property_type.property_type_id %>">
              <%= property_type.property_type %> (Property type ID: <%=
              property_type.property_type_id %>)
            </option>
            <% } %>
          </datalist>
        </div>
        <div class="mb-3">
          <label for="availability_365" class="form-label"
            >Availability in 365 days
          </label>
          <input
            type="int"
            class="form-control"
            id="availability_365"
            name="availability_365"
            placeholder="000"
            required
          />
        </div>
        <div class="mb-3">
          <label for="picture_url" class="form-label">Picture URL</label>
          <input
            type="url"
            class="form-control"
            id="picture_url"
            name="picture_url"
            placeholder="https://example.com/image.jpg"
            required
          />
        </div>
        <div class="mb-3 form-group required">
          <label for="price" class="form-label">Price ($)</label>
          <input
            type="number"
            class="form-control"
            id="price"
            name="price"
            placeholder="Price"
            required
          />
        </div>
        <div class="mb-3 form-group required">
          <label for="host_id" class="form-label">Select Host</label>
          <input
            type="text"
            class="form-control"
            id="host_id"
            name="host_id"
            placeholder="Type to Search Hosts"
            list="hosts"
            required
          />
          <datalist id="hosts">
            <% for (let host of hosts) { %>
            <option value="<%= host.host_id %>">
              <%= host.host_name %> (Host ID: <%= host.host_id %>)
            </option>
            <% } %>
          </datalist>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <%- include('./partials/footer') %>
  </body>
</html>
