<!-- All the code is written by myself -->

<!doctype html>
<html>
  <head>
    <%- include('./partials/head', { pageInfo }) %>
  </head>
  <body>
    <%- include('./partials/header', { pageInfo }) %>
    <div class="container my-5">
      <h1>Create New Host</h1>
      <form action="/host/add-host" method="post">
        <div class="mb-3 form-group required">
          <label for="host_name" class="form-label">Host Name</label>
          <input
            type="text"
            class="form-control"
            id="host_name"
            name="host_name"
            placeholder="Host Name"
            required
          />
        </div>
        <div class="mb-3">
          <label for="host_about" class="form-label">Host About</label>
          <textarea
            class="form-control"
            id="host_about"
            name="host_about"
            rows="3"
            placeholder="About the host"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="host_neighbourhood" class="form-label"
            >Host Neighbourhood</label
          >
          <input
            type="text"
            class="form-control"
            id="host_neighbourhood"
            name="host_neighbourhood"
            list="host_neighbourhoods"
            placeholder="Type to Select Neighbourhood Or Create New Neighbourhood"
          />
          <datalist id="host_neighbourhoods">
            <% for (let host_neighbourhood of host_neighbourhoods) { %>
            <option value="<%= host_neighbourhood.host_neighbourhood %>">
              <%= host_neighbourhood.host_neighbourhood %> (ID: <%=
              host_neighbourhood.host_neighbourhood_id %>)
            </option>
            <% } %>
          </datalist>
        </div>
        <div class="mb-3">
          <label for="host_picture_url" class="form-label"
            >Host Picture URL</label
          >
          <input
            type="url"
            class="form-control"
            id="host_picture_url"
            name="host_picture_url"
            placeholder="https://example.com/image.jpg"
          />
        </div>
        <div class="mb-3">
          <label for="host_country" class="form-label"
            >Host Country (Origin)
          </label>
          <input
            type="text"
            class="form-control"
            id="host_country"
            name="host_country"
            list="host_countries"
            placeholder="Type to Select Country Or Create New Country"
          />
          <datalist id="host_countries">
            <% for (let host_country of host_countries) { %>
            <option value="<%= host_country.host_country %>">
              <%= host_country.host_country %> (ID: <%=
              host_country.host_country_id %>)
            </option>
            <% } %>
          </datalist>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <%- include('./partials/footer') %>
  </body>
</html>
