<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head', {pageInfo}) %>
  </head>
  <body>
    <%- include('./partials/header', {pageInfo}) %>

    <h1 class="m-5 text-center">All Listings</h1>
    <% if (listings.length === 0) { %>
    <p class="text-center mb-5">No listings available.</p>
    <% } else { %>

    <div class="container text-center">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        <% listings.forEach(listing => { %>
        <div class="col mb-5">
          <div class="card">
            <img src="<%= listing.picture_url %>" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title"><%= listing.name %></h5>
              <!-- prettier-ignore -->
              <p class="card-text short-description">
                <%= listing.description.replace(/<br \/>/g, ' ') %>
              </p>
              <div>
                <h5 class="text-center lh-sm mb-3">
                  Price: $<%= listing.price %>
                </h5>
                <a
                  href="/listing/<%= listing.listing_id %>"
                  class="btn btn-primary"
                  >View Details</a
                >
              </div>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>

    <!-- https://evdokimovm.github.io/javascript/nodejs/mongodb/pagination/expressjs/ejs/bootstrap/2017/08/20/create-pagination-with-nodejs-mongodb-express-and-ejs-step-by-step-from-scratch.html -->

    <div>
      <% var searchUrl = `?search=${encodeURIComponent(search)}` %> <% if
      (pagination.totalPages > 0) { %>
      <nav class="mb-5">
        <ul class="pagination text-center justify-content-center">
          <% if (pagination.currPage == 1) { %>
          <li class="page-item disabled"><a class="page-link">First</a></li>
          <% } else { %>
          <li class="page-item">
            <a class="page-link" href="/<%= searchUrl %>&currPage=1">First</a>
          </li>
          <% } %> <% var i = (Number(pagination.currPage) > 5 ?
          Number(pagination.currPage) - 4 : 1) %> <% if (i !== 1) { %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
          <% } %> <% for (; i <= (Number(pagination.currPage) + 4) && i <=
          pagination.totalPages; i++) { %> <% if (i == pagination.currPage) { %>
          <li class="page-item active"><a class="page-link"><%= i %></a></li>
          <% } else { %>
          <li class="page-item">
            <a class="page-link" href="/<%= searchUrl %>&currPage=<%= i %>"
              ><%= i %></a
            >
          </li>
          <% } %> <% if (i == Number(pagination.currPage) + 4 && i <
          pagination.totalPages) { %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
          <% } %> <% } %> <% if (pagination.currPage == pagination.totalPages) {
          %>
          <li class="page-item disabled"><a class="page-link">Last</a></li>
          <% } else { %>
          <li>
            <a
              class="page-link"
              href="/<%= searchUrl %>&currPage=<%= pagination.totalPages %>"
              >Last</a
            >
          </li>
          <% } %>
        </ul>
      </nav>
      <% } %>
    </div>
    <% } %> <%- include('./partials/footer') %>
  </body>
</html>
